
.center-content {
  display: flex;
  justify-content: center;
}

.center-vcontent {
  display: flex;
  align-items: center;
}

.bottom-content {
  display: flex;
  align-items: flex-end;
}

p {
}

h1 {
  padding-bottom: 20px;
  text-align: center;
  font-size: 36px;
}

.suncrash-section {
  padding:50px 0px 50px 0px;
  margin: 0px;
  border: none;
}



.header {
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    background-position: center top;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    max-width:100%;
}

.home-header {
  background-image: url(../img/header-bg.jpg);
}

.about-header {
  background-image: url(../img/about-bg3.jpg);
  height: 70vh;
}

.header-text {
  padding-top: 40vh;
}

.header-text h3 {
  color: white;
}

.header-text a:hover {
  color: white;
  text-decoration: none;
}

.header-judgment-title h3 {
  // Enter font for JASS here. Also font-size.
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
}

.header-judgment-tagline h3 {
  // Enter font for tagline here
  font-size: 36px;
  font-family: 'Caveat Brush', cursive;
}


.navbar {
  -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
  -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
  transition: padding-top 0.3s, padding-bottom 0.3s;
  border: none;
  background-color: transparent;
  color: white;
  padding: 5px 0px 5px 0px;
  align-items: flex-end;
}

.nav-padding {
  height: 8vh;
  padding: 5px 0px 5px 0px;
}

a.nav-link {
  color: white;
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
  margin-left: 20px;
}

a.nav-link-selected {
  color: #f3cf26;
}

.navbar-logo {
  height: 8vh;
  position: center;
  padding: 0px;
  margin: 0px;
  margin-left: 30px;
}

.navbar-scrolled {
  background-color: #191919;
}

.navbar-toggler {
  font-size: 24px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  height: 8vh;
}

.social-links {
  margin-left: 30px;
}

.navbar-social-icon {
  height: 24px;
  width: 24px;
  margin: 2px;
}





.suncrash-content-1 {
  background-color: #191919;
  color: #dddddd;
}

.suncrash-content-1 h3 {
  color: #dddddd;
}

.suncrash-content-2 {
  background-color: #f3cf26;
  color: #191919;
}

.suncrash-content-3 {
  background-color: #333333;
  color: #dddddd;
}

.suncrash-content-2 a {
  color: #0055aa;
}




.subscribe-area {
  background-color: #f3cf26;
}

.email-label {
  color: black;
  font-size: 30px;
  font-weight: none;
}

.subscribe-fields-area {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.subscribe-field {
  margin: 5px;
  width: 100%;
}

.subscribe-checkbox-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px;
}

.subscribe-checkbox {
  margin-right: 10px;
  height: 20px;
  width: 20px;
  padding: 0px;
}

.subscribe-checkbox-label {
  color: black;
  padding-top: 5px;
  font-size: 20px;
}

.subscribe-input {
  color: #000000;
  border: solid 1px #dddddd;
  background: white;
  width: 100%;
  padding-left: 10px;
  font-size: 24px;
}

.subscribe-button {
  background-color: #191919;
  color: #f3cf26;
  border: none;
  padding: 3px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  border-radius: 12px;
}




.team-entry {
  display: flow;
  justify-content: center;
  flex-direction: row;
  margin: 40px 0px;
}

.team-entry-first {
  margin-top: 0px;
}

.team-entry h3 {
  margin: 0px;
  font-size: 22px;
  margin-bottom: 2px;
}

.team-entry p {
}

h5.team-title {
  font-size: 16px;
  margin-bottom: 1rem;
}

.team-img {
  width: 211px;
  height: 272px;
}

.collaborators-title {
  padding-top: 40px;
}





.blog-entry {
  display: flow;
  justify-content: center;
  flex-direction: row;
  margin: 0px;
}

.blog-entry h3 {
  margin: 0px;
  font-size: 22px;
  margin-bottom: 2px;
}

.blog-entry a:hover {
  text-decoration: none;
}

h5.blog-title {
  font-size: 16px;
  margin-bottom: 1rem;
}

.blog-entry-img {
  width: 300px;
  height: 169px;
  margin-bottom: 80px;  
}



.blog-image {
  width: 100%;
  padding-bottom: 30px;
}

.blog-subtitle {
  padding-top: 10px;
}

.blog-video {
  width:100%;
  padding-bottom: 30px;
}


.footer {
  background-color: #191919;
  color: #dddddd;
  padding: 40px 0px 20px 0px;
}

.footer-social-icon {
  height: 32px;
  width: 32px;
  margin: 15px;
}
